
<h1><%= @band.name %></h1>

<p>
  <%= @band.name %> is GREAT! Their discography includes:
</p>

<ul>
  <% @albums.each do |album| %>
    <li><a href="<%= album_url(album.id) %>"><%= album.album_name %></a></li>
  <% end %>
</ul>
<br>
<a href="<%= new_band_album_url(@band.id) %>">Add an album</a>
